[client]
default-character-set = utf8mb4

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
innodb-use-native-aio = 0
require_secure_transport = OFF

# START
# binary-log
log_bin = mysql-bin
# server-id
server_id = 0000000001
# END

[mysql]
prompt = '(master) [\\d] > '